@import '../mixins';

.ModalBackdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-grey);
  opacity: 0.5;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 320px;
  height: 180px;
  background-color: var(--light-grey);

  @include card-border(0.25rem, 1rem);

  .Button {
    background: var(--light-grey);
    border: 1px solid var(--primary);

    &:hover {
      background: #dddddd;
    }
  }
}